* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #8EB486;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    transition: margin-left 0.3s ease;
}

.navbar.open {
    margin-left: 250px;
}

.burger-menu {
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.logo img {
    height: 60px;
    /* background-color: red; */
    margin: 10px;
    padding-left: 15px;
    padding-top: 5px;
}



.sidebar {
    background-color: #8EB486;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    /* border: 1px solid #ccc; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.2); */
    transition: left 0.3s ease;
    z-index: 500;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 2px 10px;
}

.sidebar ul li a {
    padding: 10px;
    color: #FDF7F4;
    text-decoration: none;
    display: block;
}

.sidebar ul li i {
    /* background-color: red; */
    /* padding: 5px 10px; */
    padding: 5px;

    margin-right: 10px;
    /* margin: 5px; */
}

.sidebar ul li a:hover {
    padding: 10px;
    background-color: #f1f1f1;
    color: #333;
    /* FDF7F4 */
}

/* Open Sidebar */
.sidebar.open {
    display: block;
    left: 0;
    /* When open, bring sidebar into view */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .sidebar ul li {
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 200px;
    }
}